{% extends 'home.html.twig' %}
{% block title %} Ajouter des agents {% endblock %}

{% block body %}


<!-- Main content -->
 <div class="content-wrapper">

	 {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
 



	<!-- Content area -->








	<div class="content">
		<div class="mb-3">
							<div class="page-header page-header-dark" style="border: 1px solid #ddd; border-bottom: 0;">
								<div class="page-header-content header-elements-inline">
									<div class="page-title">
										<h5>
											<i class="icon-arrow-left52 mr-2"></i>
											<span class="font-weight-semibold">Ajouter un Agent</span> 
											<small class="d-block opacity-75">    </small>
										</h5>
									</div>

									<div class="header-elements d-flex align-items-center">
		                              	<button type="submit" class="btn btn-secondary"><i class="icon-diff-added">  VALIDER</i></button>
									</div>
								</div>

								<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
									<div class="d-flex">
										<div class="breadcrumb">
											<a href="{{ path('homepage')}}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
											<a href="{{ path('backend_agentPoste_add')}}" class="breadcrumb-item">Agent</a>
											<span class="breadcrumb-item active">Add</span>
										</div>

										
									</div>

									<div class="header-elements d-none">
										<div class="breadcrumb justify-content-center">
										
										
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>








	<div class="content">
		 <div class="card">
		
        	<div class="card-body">
				

				
				<form action="#">
					<fieldset class="mb-3">
						<legend class="text-uppercase font-size-sm font-weight-bold">Formulaire</legend>

					
					
						<div class="form-group row">
							<label class="col-form-label col-md-2">Nom Agent</label>
							<div class="col-md-10">
								{{ form_widget(form.nom, {'attr': {'class':'form-control','placeholder': 'Donner le nom  du Agent...'}}) }}
							</div>
						</div>	




							<div class="form-group row">
							<label class="col-form-label col-md-2">Prenom Agent</label>
							<div class="col-md-10">
								{{ form_widget(form.prenom, {'attr': {'class':'form-control','placeholder': 'Donner le prenom  du Agent...'}}) }}
							</div>
						</div>



						
						<div class="form-group row">
							<label class="col-form-label col-md-2">CIN</label>
							<div class="col-md-10">
								{{ form_widget(form.cin, {'attr': {'class':'form-control','maxlength':'8','placeholder': 'Donner le numéro identité  du Agent...'}}) }}
							</div>
						</div>




					
						<div class="form-group row">
							<label class="col-form-label col-md-2">Profession</label>
							<div class="col-md-10">
								{{ form_widget(form.posteOccupe, {'attr': {'class':'form-control','placeholder': 'Donner la profession de agent poste...'}}) }}
							</div>
						</div>



							
						<div class="form-group row">
							<label class="col-form-label col-md-2">Numéro Telephone</label>
							<div class="col-md-10">
								{{ form_widget(form.numTelephone,  {'attr': {'class':'form-control','maxlength':'8','placeholder': 'Donner le numéro de telephone de agent...'}}) }}
							</div>
						</div>
						
						<div class="form-group row">
							<label class="col-form-label col-md-2">Adresse Mail</label>
							<div class="col-md-10">
								{{ form_widget(form.email, {'attr': {'class':'form-control','placeholder': 'Donner adresse mail  du Agent...'}}) }}
							</div>
						</div>



                      <div class="form-group row">
							<label class="col-form-label col-md-2">Mot de passe</label>
							<div class="col-md-10">
								{{ form_widget(form.password, {'attr': {'class':'form-control','placeholder': 'Donner le mot de passe  du Agent ...'}}) }}
							</div>


						</div>

                 	</fieldset>
			
					
					<div class="text-right">
						<button type="submit" class="btn btn-primary">Submit <i class="icon-paperplane ml-2"></i></button>
	
					</div>
						{{ form_end(form) }}
				</form>
			</div>
		</div>
		<!-- /form inputs -->


	</div>
	<!-- /content area -->

</div>
<!-- /main content -->


{% endblock %}


