
{% extends 'home.html.twig' %}
{% block title %} select bordereaux{% endblock %}

{% block body %}
	
	<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header page-header-light">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Choisir Bordereaux</span> 
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>

					
				</div>

				<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
					<div class="d-flex">
						<div class="breadcrumb">
							<a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
							
						</div>

						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>

					
				</div>
			</div>
			<!-- /page header -->


			<!-- Content area -->
			<div class="content">

	<!-- Custom Bootstrap inputs -->
            	<div class="card">
		
		<div class="datatable-scroll">
			<table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
   <thead>
	<tr role="row">
	<th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="First Name: activate to sort column descending">
       Boredereaux		</th>
	
		<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending">
        dateCreation		</th>
	
	
			<th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="First Name: activate to sort column descending">
          statut 		</th>
		<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending">
        posteDepart		</th>
	
		<th class="text-center sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 100px;">
			posteDarrive
		</th>
		
		<th class="text-center sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 100px;">
			Actions
		</th>
	
	
		
	</tr>
    </thead>
<tbody> 


{% for ligne in liste %}
		<tr role="row" class="even">
		<td class="sorting_1">
						Bordereau {{ligne.id}}	
						</td>
			
				<td><a href="#"></a>{{ligne.dateCreation| date('d-m-Y') }}</td>	
		<td class="sorting_1">{{ligne.statut}}</td>
		<td><a href="#">{{ligne.posteDepart.localisation}}</a></td>
				<td class="sorting_1">{{ligne.posteArrive.localisation }}</td> 
<td>		
<button type="submit"  href="" class="btn btn-success"><i class="icon-checkmark4">  Confirmer </i></button></td>
		</tr >
			{% endfor %}					
	</table>
		
				
				<!-- /custom Bootstrap inputs -->

	</div>
			<!-- /content area -->
{% endblock %}